.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #1c1c1c;
  box-shadow: 13px 13px 26px #181818, -13px -13px 26px #202020;
  padding-top: auto;
  padding-bottom: auto;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}
